@import "tailwindcss";

@theme inline {
  --color-primary: #6C63FF;
  --font-heading: "Sora", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /* font-family: var(--font-sans); */
  background: #f9fafb;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
